<div class="instance-main-nav">
    <ul class="nav nav-tabs" role="tablist" id="tablist">
        <li ng-class="{active:vm.activeTab == 1||vm.activeTab == 0}" ng-click="vm.setActiveTab(1)"><a ui-sref="cluster.backup.backup" role="tab">数据备份</a></li>
        <li ng-class="{active:vm.activeTab == 2}" ng-click="vm.setActiveTab(2)"><a ui-sref="cluster.backup.auto" role="tab">自动备份设置</a></li>
        <!--<li ng-class="{active:vm.activeTab == 3}" ng-click="vm.setActiveTab(3)"><a ui-sref="cluster.backup.log" role="tab">日志管理</a></li>-->
    </ul>
    <div class="" style="height:20px;"></div>
    <div ui-view=""></div>
</div>