<div class="col-md-12  modal-demo">
    <a type="button" class="rds-btn buy-btn" ng-click="vm.openAddBackupModal()">
        <span class="btn-icon new-new"></span> 创建备份
    </a>
    <a class="search-label">
        <span class="btn-icon new-search"></span> 全局搜索
    </a>
    <input class="search-input" type="text" ng-model="vm.filter" />
    <div ng-show="true" class="alert_div">
        <div ng-repeat="alert in vm.alerts" ng-class="['repeat','alert', 'alert-dismissable', alert.type]">
            <button type="button" class="close" ng-click="vm.closeAlert($index)">&times;</button> {{alert.msg}}
        </div>
    </div>
    <div style="height: 8px"></div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>完成时间</th>
                    <th>增量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!--
        <pre>{{vm.db.databases}}</pre>
-->
                <tr ng-repeat="backup in vm.backupList.backups|filter:vm.filter">
                    <td><input type="radio" name="backupRadio" ng-model="vm.selection" ng-value="backup"></td>
                    <td><a ui-sref="cluster.backup.detail({backupId:backup.id})">{{backup.name}}</a></td>
                    <td>{{backup.status}}</td>
                    <td>{{backup.created.replace("T"," ")}}</td>
                    <td>{{backup.updated.replace("T"," ")}}</td>
                    <td>{{backup.parent_id != null?'是':'否'}}</td>
                    <td>
                        <a ng-href="https://ecloud.10086.cn/product/{{vm.clusterId}}/rdsDetail/{{backup.id}}/recovery">
                            克隆
                        </a>
                        <a id="deleteBackup" ng-click="vm.openDeleteBackupModal()">
                            删除
                        </a>
                        <!--<a type="button" class="rds-sm-btn normal-btn" id="deleteBackup" ng-click="vm.openDeleteBackupModal()">-->
                            <!--<span class="btn-icon new-delete"></span> 删除-->
                        <!--</a>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <ul style="float:right;" uib-pagination total-items="vm.pagination.totalItems" ng-model="vm.pagination.currentPage" ng-change="vm.pagination.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                rotate="false"></ul>

        </div>
    </div>
</div>

<!--创建备份弹窗-->
<script type="text/ng-template" id="addBackupModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title" id="addBackupModal-title">创建备份</h4>
    </div>
    <div class="modal-body" id="addBackupModal-body">
        <form class="form-horizontal user_form" role="form" id="backup_form" name="backup_form" novalidate="">
            <div class="form-group">
                <label class="col-sm-3 control-label">备份名称</label>
                <div class="col-sm-9">
                    <input type="text" required="" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,16}$/" name="backup_name" ng-model="vm.backup_add.name" class="form-control" placeholder="由字母、数字、下划线组成，以字母开头，3-16个字符">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">父备份</label>
                <div class="col-sm-9">
                    <select ng-model="selectValue" ng-change="selectedChange(selectedValue)">
                        <option value="">-- 请选择备份 --</option>
                        <option ng-repeat="backup in vm.activeBackupList" value="{{backup.id}}">{{backup.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">存储时长</label>
                <div class="col-sm-9">
                    <input type="text" required="" ng-pattern="/^([7-9]|[1-9]\d{1,2}|10[0-8]\d|109[0-5])$/" ng-model="vm.backup_add.timePeriod" class="form-control" placeholder="存储天数必须在7-1095之间">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">描述</label>
                <div class="col-sm-9">
                    <textarea ng-model="vm.backup_add.desc" placeholder="请输入备份描述信息" ng-blur="blur()"></textarea>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="backup_form.$invalid" ng-click="vm.addBackupOk()">创建</button>
    </div>
</script>
<!--创建备份弹出结束-->

<!--删除备份模态框-->
<script type="text/ng-template" id="deleteBackupModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title" id="deleteBackupModal-title">删除备份</h4>
    </div>
    <div class="modal-body" id="deleteBackupModal-body">
        <div class="alert alert-danger" >
            <div ng-show="vm.selection.name">
                确定删除备份{{vm.selection.name}}吗？
            </div>
            <!--根据name来取得表格中的内容-->
            <div ng-show="!vm.selection.name">
                请先选定一个备份!
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="!vm.selection.name" ng-click="vm.deleteBackupOk(vm.selection.id)">删除备份
        </button>
    </div>
</script>
<!--删除备份模态框结束-->