<div class="col-md-11" style="width: 100%">
    <div class="panel panel-default" ng-class="{hidden: vm.readInstance.hidden}">
        <div class="panel-heading">只读实例
            <span class="pull-right">
                <span class="glyphicon"
                      ng-class="vm.readInstance.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
                      ng-click="vm.readInstance.collapsed = !vm.readInstance.collapsed">
                </span>
            </span>
            &nbsp;
        </div>
        <div class="panel-collapse collapse" ng-class="{in: !vm.readInstance.collapsed}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td style="width:40%;">数量</td>
                        <td>0个</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-11" style="width: 100%">
    <div class="panel panel-default" ng-class="{hidden: vm.basicInfo.hidden}">
        <div class="panel-heading">基本信息
            <span class="pull-right">
                <span class="glyphicon"
                      ng-class="vm.basicInfo.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
                      ng-click="vm.basicInfo.collapsed = !vm.basicInfo.collapsed">

                </span>
            </span>
            &nbsp;
        </div>
        <div class="panel-collapse collapse" ng-class="{in: !vm.basicInfo.collapsed}">
            <div class="table-responsive">
                <table class="table table-striped" id="instance-table-0">
                    <tbody>
                        <tr>
                            <td style="width:40%;">名称</td>
                            <td>{{vm.basicInfo.cluster.name}}</td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>{{vm.basicInfo.cluster.id}}

                            </td>
                        </tr>
                        <tr>
                            <td>状态</td>
                            <td>{{vm.basicInfo.cluster.status}}</td>
                        </tr>
                        <tr>
                            <td>数据库类型</td>
                            <td>
                                {{vm.basicInfo.cluster.datastore.type}}
                            </td>
                        </tr>
                        <tr>
                            <td>数据库版本</td>
                            <td>
                                {{vm.basicInfo.cluster.datastore.version}}
                            </td>
                        </tr>
                        <tr>
                            <td>参数组名称</td>
                            <td>{{vm.basicInfo.cluster.instances[0].configuration.name||'暂未绑定'}}</td>
                        </tr>
                        <tr>
                            <td>子网名称</td>
                            <td>{{vm.basicInfo.cluster.instances[0].networks.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-11" style="width: 100%">
    <div class="panel panel-default" ng-class="{hidden: vm.size.hidden}">
        <div class="panel-heading">规格
            <span class="pull-right">
                <span class="glyphicon"
                      ng-class="vm.size.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
                      ng-click="vm.size.collapsed = !vm.size.collapsed">
                </span>
            </span>
        </div>
        <div class="panel-collapse collapse" ng-class="{in: !vm.size.collapsed}">
            <div class="table-responsive">
                <table class="table table-striped" id="instance-table-1">
                    <tbody>
                        <tr>
                            <td style="width:40%">云主机类型</td>
                            <td>{{vm.basicInfo.cluster.instances[0].flavor.addflavor.name}}</td>
                        </tr>
                        <tr>
                            <td>内存</td>
                            <td>{{vm.basicInfo.cluster.instances[0].flavor.addflavor.ram}}MB</td>
                        </tr>
                        <tr>
                            <td>云硬盘大小</td>
                            <td>{{vm.basicInfo.cluster.instances[0].volume.size}}GB</td>
                        </tr>
                        <tr>
                            <td>创建时间</td>
                            <td id="ds_cloud_create">{{vm.basicInfo.cluster.created.replace("T"," ")}}</td>
                        </tr>
                        <tr>
                            <td>更新时间</td>
                            <td id="ds_cloud_update">{{vm.basicInfo.cluster.updated.replace("T"," ")}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-11" style="width: 100%">
    <div class="panel panel-default" ng-class="{hidden: vm.connectInfo.hidden}">
        <div class="panel-heading">连接信息
            <span class="pull-right">
                <span class="glyphicon"
                      ng-class="vm.connectInfo.collapsed?'glyphicon-chevron-down':'glyphicon-chevron-up'"
                      ng-click="vm.connectInfo.collapsed = !vm.connectInfo.collapsed">
                </span>
            </span>
        </div>
        <div class="panel-collapse collapse" ng-class="{in: !vm.connectInfo.collapsed}">
            <div class="table-responsive">
                <table class="table table-striped" id="instance-table-2">
                    <tbody>
                        <tr>
                            <td style="width:40%;">主机</td>
                            <td id="ds_main">{{vm.basicInfo.cluster.vip}}</td>
                        </tr>
                        <tr>
                            <td>数据库端口</td>
                            <td id="ds_port">3306</td>
                        </tr>
                        <tr>
                            <td>连接举例</td>
                            <td id="ds_instance">mysql -h{{vm.basicInfo.cluster.vip}} -P3306 -u用户名 -p密码<br>jdbc:mysql://{{vm.basicInfo.cluster.vip}}:3306/数据库
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>