<div>
    <div class="">
        <a type="button" class="rds-btn normal-btn" ng-show="" ng-click="">
            <span class="btn-icon new-detach"></span> 解绑参数组
        </a>
    </div>
    <div class="table-responsive panel panel-default" style="margin-top:20px">
        <div class="panel-heading">
            当前组详情
        </div>
        <table class="table table-hover table-striped configTable">
            <tbody>
                <tr>
                    <td>当前绑定的参数组</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>当前实例的数据库</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>当前数据库版本</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive panel panel-default">
        <table class="table table-hover table-striped configTable">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>参数组</th>
                    <th>动作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td> </td>
                    <td>
                        <a type="button" class="rds-btn normal-btn" ng-click="">
                            <span class="btn-icon new-bind"></span> 绑定参数组
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>