<div class="col-md-12  modal-demo">
    <a type="button" class="rds-btn buy-btn" ng-click="vm.openAddDbModal()">
        <span class="btn-icon new-user"></span> 添加数据库
    </a>
    <div style="height: 8px">
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>数据库名</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!--
            <pre>{{vm.db.databases}}</pre>
-->
                <tr ng-repeat="dbname in vm.db">
                    <td><input type="radio" name="dbRadio" ng-model="vm.selection" ng-value="dbname"></td>
                    <td>{{dbname.name}}</td>
                    <td>运行中</td>
                    <td>
                        <a type="button" class="rds-sm-btn normal-btn" id="deleteDb" ng-click="vm.openDeleteDBModal()">
                            <span class="btn-icon new-delete"></span> 删除数据库
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
         <div>
            <ul style="float:right;" uib-pagination total-items="vm.pagination.totalItems" ng-model="vm.pagination.currentPage" ng-change="vm.pagination.pageChanged()" class="pagination-sm"previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"  rotate="false"></ul>

        </div>
    </div>
</div>

<!--删除数据库模态框-->



<script type="text/ng-template" id="deleteDbModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="deleteDbModal-title">删除数据库</h3>
    </div>
    <div class="modal-body" id="deleteDbModal-body">
        <div class="alert alert-danger" style="margin: 20px;padding: 40px;">
            <div ng-show="vm.selection.name">
                确定删除数据库{{vm.selection.name}}吗？
            </div>
            <!--根据name来取得表格中的内容-->
            <div ng-show="!vm.selection.name">
                请先选定一个数据库!
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="!vm.selection.name" ng-click="vm.deleteUserOk(vm.selection.name)">删除数据库
        </button>
    </div>
</script>
<!--删除数据库模态框结束-->
<!--添加数据库模态框-->
<script type="text/ng-template" id="addDbModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="addDbModal-title">添加数据库</h3>
    </div>
    <div class="modal-body" id="addDbModal-body">
        <form class="form-horizontal user_form" role="form" id="user_form" name="user_form" novalidate="">
            <div class="form-group">
                <label class="col-sm-3 control-label">数据库名称</label>

                <div class="col-sm-9">
                    <input type="text" required="" ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/" name="user_name" ng-model="vm.user_add.name" class="form-control" placeholder="由字母、数字、下划线组成，以字母开头，3-30个字符">

                    <!--<p class="glyphicon glyphicon-ok input_result input_success" ng-if="user_form.user_name.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="user_form.user_name.$invalid && user_form.user_name.$dirty">
                    </p>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">选择字符集</label>

                <div class="col-sm-9">
                    <select ng-model="selectedName" ng-options="x.charater for x in vm.dbs"></select>


                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">选择字符规则</label>

                <div class="col-sm-9">
                    <select ng-model="selectedName" ng-options="x.rule for x in vm.dbs"></select>

                </div>
            </div>
            <!--打印错误信息-->
            <!--<div class="form-group" ng-show="user_form.$invalid && user_form.$dirty">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <div class="alert alert-danger" style="margin-bottom: 0">
                        <ul>
                           //根据name来取得表格中的内容
            <li ng-show="user_form.user_name.$dirty && user_form.user_name.$error.required">
                用户名不能为空！
            </li>
            <li ng-show="user_form.user_name.$dirty && user_form.user_name.$error.pattern">
                用户名格式不正确！由字母、数字、下划线组成，3-30个字符
            </li>

            <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.required">
                密码不能为空！
            </li>
            <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.maxlength">
                密码长度不能大于20个字符！
            </li>
            <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.minlength">
                密码长度不能小于6个字符！
            </li>
            <li ng-show="user_form.user_repeat_password.$dirty && user_form.user_repeat_password.$error.repeat">
                两次密码输入不一致！
            </li>
            </ul>
    </div>
    </div>
    </div>-->
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="user_form.$invalid" ng-click="vm.addUserOk()">添加用户
        </button>
    </div>
</script>


<!--添加数据库模态框（Modal）结束 -->


<!--
<div class="modal fade" id="deleteDbModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteDbLabel">删除数据库</h4>
            </div>
            <div class="modal-body">
                确定删除数据库吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.submit()">提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
       
    </div>
   
</div>-->

<!--更改权限模态框-->
<div class="modal fade" id="changePermissionModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="changePermissionLabel">更改权限</h4>
            </div>
            <div class="modal-body">
                确定更改权限吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.submit()">提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>