<div class="col-md-12 modal-demo">
    <!-- data-toggle="modal"
     data-target="#userModal"-->
    <a type="button" class="rds-btn buy-btn" ng-click="vm.openAddUserModal()">
        <span class="btn-icon new-user"></span> 添加用户
    </a>
    <!--
        <dialog load-data="data"></dialog>
        <button ng-click="data.isShow=!data.isShow">点击按钮测试</button>
        <alert load-data="data"></alert>
    -->
    <div ng-show="true" class="alert_div">
        <div ng-repeat="alert in vm.alerts" ng-class="['repeat','alert', 'alert-dismissable', alert.type]">
            <button type="button" class="close" ng-click="vm.closeAlert($index)">&times;</button> {{alert.msg}}
        </div>
    </div>

    <div style="height: 20px"></div>
    <div class="table-responsive row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>IP</th>
                    <th>用户名</th>
                    <th>可访问的数据库列表</th>
                    <th>动作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users">
                    <!-- <td>
                        <input type="radio" name="userRadio" ng-model="vm.selection" ng-value="user">
                    </td> -->
                    <td>{{$index+1}}</td>
                    <td>{{user.host}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.databasesList}}</td>
                    <td>
                        <a id="userResetIP" ng-click="vm.openResetIPModal(user.name,user.host)">
                            修改IP
                        </a>
                        <a id="GrantDB" ng-click="vm.openGrantDBModel(user.name,user.host)">
                            权限设置
                        </a>
                        <a id="userPassword" ng-click="vm.openUserPasswordModal(user.name,user.host)">
                            重置密码
                        </a>
                        <a id="deleteUser" ng-click="vm.openDeleteUserModal(user.name,user.host)">
                            删除
                        </a>
                        <!--<a type="button" class="rds-sm-btn normal-btn" id="userResetIP" ng-click="vm.openResetIPModal(user.name,user.host)">-->
                            <!--<span class="btn-icon new-compare"></span>-->
                            <!--修改IP-->
                        <!--</a>-->
                        <!--<a type="button" class="rds-sm-btn normal-btn" id="GrantDB" ng-click="vm.openGrantDBModel(user.name,user.host)">-->
                            <!--<span class="btn-icon new-delete"></span> 数据库权限-->
                        <!--</a>-->
                        <!--<a type="button" class="rds-sm-btn normal-btn" id="userPassword" ng-click="vm.openUserPasswordModal(user.name,user.host)">-->
                            <!--<span class="btn-icon new-compare"></span> 重置密码-->
                        <!--</a>-->
                        <!--<a type="button" class="rds-sm-btn normal-btn" id="deleteUser" ng-click="vm.openDeleteUserModal(user.name,user.host)">-->
                            <!--<span class="btn-icon new-delete"></span> 删除用户-->
                        <!--</a>-->

                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <ul style="float:right;" uib-pagination total-items="vm.pagination.totalItems" ng-model="vm.pagination.currentPage" ng-change="vm.pagination.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                rotate="false"></ul>

        </div>
    </div>
</div>

<script type="text/ng-template" id="grantDBModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="grantDBModal-title">授权用户:&nbsp;{{vm.selection.username}}@{{vm.selection.host}}</h3>
    </div>
    <div class="modal-body">
        <div class="grant-content row" style="width:90%;margin:0 auto;">
            <div class="ungrantDB col-sm-5">
                <div class="dbhead">未授权数据库</div>
                <ul class=" ungrant-ul">
                    <li ng-repeat="ugdb in vm.ungrantDBs" class="grant-list ungrant-list" ng-class="{grantActive:ugdb.active}" ng-click="vm.toggleSelect('ungrant',$index)">{{ugdb.name}}</li>
                    <!-- <li class="grant-list ungrant-list">2</li>
                    <li class="grant-list ungrant-list">3</li> -->
                </ul>
            </div>
            <div class="grant-action col-sm-2">
                <a ng-click="vm.granted()">授权&gt;</a><br/>
                <a ng-click="vm.shift()"> &lt;移除</a>
            </div>
            <div class="grantedDB col-sm-5">
                <div class="dbhead">已授权数据库</div>
                <ul class="granted-ul">
                    <li class="grant-list granted-list" ng-repeat="gdb in vm.grantedDBs" ng-class="{grantActive:gdb.active}" ng-click="vm.toggleSelect('granted',$index)">{{gdb.name}}</li>
                    <!-- <li class="grant-list granted-list">13</li>
                    <li class="grant-list granted-list">14</li> -->
                </ul>
            </div>
        </div>
        <!-- 
        <form class="form-horizontal user_form" role="form" id="resetIP_form" name="resetIP_form" novalidate="">
            <div class="form-group">
                <label class="col-sm-3 control-label">新IP地址</label>

                <div class="col-sm-9">

                </div>
            </div>




        </form> -->

        <!--根据name来取得表格中的内容-->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
        <button type="button" class="btn btn-primary" ng-click="vm.grantDBOk(vm.selection.username , vm.selection.host)">确认
        </button>
    </div>
</script>



<!--重置IP模态框-->
<script type="text/ng-template" id="userResetIPModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="userResetIPModal-title">重置用户{{vm.selection.username}}的IP</h3>
    </div>
    <div class="modal-body">


        <form class="form-horizontal user_form" role="form" id="resetIP_form" name="resetIP_form" novalidate="">
            <div class="form-group">
                <label class="col-sm-3 control-label">新IP地址</label>

                <div class="col-sm-9">
                    <input type="text" name="resetIP" ng-model="vm.selection.ip" ng-pattern="vm.ipRegx" required="" class="form-control" placeholder="IP地址">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="resetIP_form.resetIP.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="resetIP_form.resetIP.$invalid && resetIP_form.resetIP.$dirty">
                    </p>
                </div>
            </div>



            <!--打印错误信息-->
            <div class="form-group" ng-show="resetIP_form.$invalid && resetIP_form.$dirty">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <div class="alert alert-danger" style="margin-bottom: 0px">
                        <ul>
                            <!--根据name来取得表格中的内容-->
                            <li ng-show="resetIP_form.resetIP.$dirty && resetIP_form.resetIP.$error.required">
                                IP不能为空！
                            </li>
                            <li ng-show="resetIP_form.resetIP.$dirty && resetIP_form.resetIP.$error.pattern">
                                IP格式不符合要求！
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </form>

        <!--根据name来取得表格中的内容-->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="resetIP_form.$invalid" ng-click="vm.resetIPOk(vm.selection.username,vm.selection.ip)">更改IP
        </button>
    </div>
</script>



<!--重置密码模态框-->
<script type="text/ng-template" id="userPasswordModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="userPasswordModal-title">重置用户{{vm.selection.username}}的密码</h3>
    </div>
    <div class="modal-body">


        <form class="form-horizontal user_form" role="form" id="changePsd_form" name="changePsd_form" novalidate="">
            <div class="form-group">
                <label class="col-sm-3 control-label">新密码</label>

                <div class="col-sm-9">
                    <input type="password" name="changePsd" ng-model="vm.changePsd.password" required="" ng-maxlength="20" ng-minlength="6" class="form-control" placeholder="6-20个字符">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="changePsd_form.changePsd.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="changePsd_form.changePsd.$invalid && changePsd_form.changePsd.$dirty">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">确认密码</label>

                <div class="col-sm-9">
                    <input type="password" name="repeat_changePsd" ng-model="vm.changePsd.repeat_password" required="" ng-maxlength="20" ng-minlength="6" repeat="changePsd" class="form-control" placeholder="再次输入新密码">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="changePsd_form.repeat_changePsd.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="changePsd_form.repeat_changePsd.$invalid
                                       && changePsd_form.repeat_changePsd.$dirty">
                    </p>
                </div>
            </div>


            <!--打印错误信息-->
            <div class="form-group" ng-show="changePsd_form.$invalid && changePsd_form.$dirty">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <div class="alert alert-danger" style="margin-bottom: 0px">
                        <ul>
                            <!--根据name来取得表格中的内容-->
                            <li ng-show="changePsd_form.changePsd.$dirty && changePsd_form.changePsd.$error.required">
                                密码不能为空！
                            </li>
                            <li ng-show="changePsd_form.changePsd.$dirty && changePsd_form.changePsd.$error.maxlength">
                                密码长度不能大于20个字符！
                            </li>
                            <li ng-show="changePsd_form.changePsd.$dirty && changePsd_form.changePsd.$error.minlength">
                                密码长度不能小于6个字符！
                            </li>
                            <li ng-show="changePsd_form.repeat_changePsd.$dirty && changePsd_form.repeat_changePsd.$error.repeat">
                                两次密码输入不一致！
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

        <!--根据name来取得表格中的内容-->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="!vm.selection.username || changePsd_form.$invalid" ng-click="vm.changePsdOk(vm.selection.username,vm.changePsd.password)">更改密码
        </button>
    </div>
</script>

<!--删除用户模态框-->
<script type="text/ng-template" id="deleteUserModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="deleteUserModal-title">删除用户</h3>
    </div>
    <div class="modal-body" id="deleteUserModal-body">
        <div class="alert alert-danger" style="margin: 20px;padding: 40px;">
            <div ng-show="vm.selection.username">
                确定删除用户{{vm.selection.username}}吗？
            </div>
            <!--根据name来取得表格中的内容-->
            <div ng-show="!vm.selection.username">
                请先选定一个用户!{{vm.selection}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="!vm.selection.username" ng-click="vm.deleteUserOk(vm.selection.username,vm.selection.host)">删除用户
        </button>
    </div>
</script>

<!--创建用户模态框-->
<script type="text/ng-template" id="addUserModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="addUserModal-title">添加用户</h3>
    </div>
    <div class="modal-body" id="addUserModal-body">
        <form class="form-horizontal user_form" role="form" id="user_form" name="user_form" novalidate="">
            <div class="form-group">
                <label class="col-sm-3 control-label">用户名</label>

                <div class="col-sm-9">
                    <input type="text" required="" ng-pattern="vm.ipRegx" name="user_name" ng-model="vm.user_add.name" class="form-control" placeholder="由字母、数字、下划线组成，以字母开头，3-30个字符">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="user_form.user_name.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="user_form.user_name.$invalid && user_form.user_name.$dirty">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">IP地址</label>

                <div class="col-sm-9">
                    <input type="text" required="" ng-pattern="vm.ipRegx" name="user_host" ng-model="vm.user_add.host" class="form-control" placeholder="请输入用户主机地址">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="user_form.user_host.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="user_form.user_host.$invalid && user_form.user_host.$dirty">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码</label>

                <div class="col-sm-9">
                    <input type="password" name="user_password" ng-model="vm.user_add.password" required="" ng-maxlength="20" ng-minlength="6" class="form-control" placeholder="6-20个字符">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="user_form.user_password.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="user_form.user_password.$invalid && user_form.user_password.$dirty">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">确认密码</label>

                <div class="col-sm-9">
                    <input type="password" name="user_repeat_password" ng-model="vm.user_add.repeat_password" required="" ng-maxlength="20" ng-minlength="6" repeat="user_password" class="form-control" placeholder="再次输入密码">

                    <p class="glyphicon glyphicon-ok input_result input_success" ng-if="user_form.user_repeat_password.$valid">
                    </p>

                    <p class="glyphicon glyphicon-remove input_result input_error" ng-if="user_form.user_repeat_password.$invalid && user_form.user_repeat_password.$dirty">
                    </p>
                </div>
            </div>
            <!--打印错误信息-->
            <div class="form-group" ng-show="user_form.$invalid && user_form.$dirty">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10">
                    <div class="alert alert-danger" style="margin-bottom: 0">
                        <ul>
                            <!--根据name来取得表格中的内容-->
                            <li ng-show="user_form.user_name.$dirty && user_form.user_name.$error.required">
                                用户名不能为空！
                            </li>
                            <li ng-show="user_form.user_name.$dirty && user_form.user_name.$error.pattern">
                                用户名格式不正确！由字母、数字、下划线组成，3-30个字符
                            </li>
                            <li ng-show="user_form.user_host.$dirty && user_form.user_host.$error.required">
                                IP地址不能为空！
                            </li>
                            <li ng-show="user_form.user_host.$dirty && user_form.user_host.$error.pattern">
                                IP地址格式不正确！
                            </li>
                            <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.required">
                                密码不能为空！
                            </li>
                            <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.maxlength">
                                密码长度不能大于20个字符！
                            </li>
                            <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.minlength">
                                密码长度不能小于6个字符！
                            </li>
                            <li ng-show="user_form.user_repeat_password.$dirty && user_form.user_repeat_password.$error.repeat">
                                两次密码输入不一致！
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-disabled="user_form.$invalid" ng-click="vm.addUserOk()">添加用户
        </button>
    </div>
</script>


<!--添加用户模态框（Modal） -->
<!--
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal user_form" role="form" id="user_form" name="user_form" novalidate="">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名</label>

                        <div class="col-sm-9">
                            <input type="text"
                                   required=""
                                   ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/"
                                   name="user_name"
                                   ng-model="vm.user_add.name"
                                   class="form-control"
                                   placeholder="由字母、数字、下划线组成，以字母开头，3-30个字符">

                            <p class="glyphicon glyphicon-ok input_result input_success"
                               ng-if="user_form.user_name.$valid"
                                    >
                            </p>

                            <p class="glyphicon glyphicon-remove input_result input_error"
                               ng-if="user_form.user_name.$invalid && user_form.user_name.$dirty"
                                    >
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码</label>

                        <div class="col-sm-9">
                            <input type="password"
                                   name="user_password"
                                   ng-model="vm.user_add.password"
                                   required=""
                                   ng-maxlength="20"
                                   ng-minlength="6"
                                   class="form-control"
                                   placeholder="6-20个字符"
                                    >

                            <p class="glyphicon glyphicon-ok input_result input_success"
                               ng-if="user_form.user_password.$valid"
                                    >
                            </p>

                            <p class="glyphicon glyphicon-remove input_result input_error"
                               ng-if="user_form.user_password.$invalid && user_form.user_password.$dirty"
                                    >
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">确认密码</label>

                        <div class="col-sm-9">
                            <input type="password"
                                   name="user_repeat_password"
                                   ng-model="vm.user_add.repeat_password"
                                   required=""
                                   ng-maxlength="20"
                                   ng-minlength="6"
                                   repeat="user_password"
                                   class="form-control"
                                   placeholder="再次输入密码"
                                    >

                            <p class="glyphicon glyphicon-ok input_result input_success"
                               ng-if="user_form.user_repeat_password.$valid"
                                    >
                            </p>

                            <p class="glyphicon glyphicon-remove input_result input_error"
                               ng-if="user_form.user_repeat_password.$invalid && user_form.user_repeat_password.$dirty"
                                    >
                            </p>
                        </div>
                    </div>

                    &lt;!&ndash;打印错误信息&ndash;&gt;
                    <div class="form-group"
                         ng-show="user_form.$invalid && user_form.$dirty && vm.show_error">
                        <label class="col-sm-2 control-label"></label>

                        <div class="col-sm-10">
                            <div class="alert alert-danger" style="margin-bottom: 0px">
                                <ul>
                                    &lt;!&ndash;根据name来取得表格中的内容&ndash;&gt;
                                    <li ng-show="user_form.user_name.$dirty && user_form.user_name.$error.required">
                                        用户名不能为空！
                                    </li>
                                    <li ng-show="user_form.user_name.$dirty && user_form.user_name.$error.pattern">
                                        用户名格式不正确！由字母、数字、下划线组成，3-30个字符
                                    </li>

                                    <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.required">
                                        密码不能为空！
                                    </li>
                                    <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.maxlength">
                                        密码长度不能大于20个字符！
                                    </li>
                                    <li ng-show="user_form.user_password.$dirty && user_form.user_password.$error.minlength">
                                        密码长度不能小于6个字符！
                                    </li>
                                    <li ng-show="user_form.user_repeat_password.$dirty && user_form.user_repeat_password.$error.repeat">
                                        两次密码输入不一致！
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="vm.submit(user_form)"
                        ng-disabled="user_form.$invalid"
                        >添加用户
                </button>
            </div>
        </div>
        &lt;!&ndash; /.modal-content &ndash;&gt;
    </div>
    &lt;!&ndash; /.modal &ndash;&gt;
</div>-->