<!--
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a ui-sref="list"><<<</a></li>
        <li ng-class="{active:vm.activeTab == 1}" ng-click="vm.activeTab = 1"><a ui-sref="instance.basicInfo">基本信息</a>
        </li>
        <li ng-class="{active:vm.activeTab == 2}" ng-click="vm.activeTab = 2"><a ui-sref="instance.user">用户管理</a></li>
        <li ng-class="{active:vm.activeTab == 3}" ng-click="vm.activeTab = 3"><a ui-sref="instance.db">数据库管理</a></li>
        <li ng-class="{active:vm.activeTab == 4}" ng-click="vm.activeTab = 4"><a ui-sref="instance.backup">备份管理</a></li>
        <li ng-class="{active:vm.activeTab == 5}" ng-click="vm.activeTab = 5"><a ui-sref="instance.monitor">监控</a></li>
        <li ng-class="{active:vm.activeTab == 6}" ng-click="vm.activeTab = 6"><a ui-sref="instance.config">参数设置</a></li>
    </ul>
</div>
-->
<div class="pane">
    <div class="instance-main-head clearfix">
        <div class="col-sm-8 col-md-8">
            <p class="h2 pull-left" style="margin-right: 5px;">实例:{{vm.clusterName}}</p>
            <a type="button" class="rds-btn cancel-btn" ui-sref="list" style="display: inline-block">
                <span class="btn-icon new-return"></span> 返回列表
            </a>
        </div>
        <div class="col-sm-4 col-md-4">
            <a type="button" class="rds-btn normal-btn" id="deleteInstance" data-toggle="modal" data-target="#deleteInstanceModal">
                <span class="btn-icon new-delete"></span> 终止实例
            </a>
            <button class="normal-btn rds-btn" id="restartInstance" ng-click="vm.resetCluster()">
                <span class="btn-icon new-compare"></span>
                重启实例
            </button>
            <button class="normal-btn rds-btn" id="backupInstance" data-toggle="modal" data-target="#backupInstanceModal">
                <span class="btn-icon new-bind"></span>
                备份实例
            </button>
        </div>
    </div>
    <hr>

    <div class="instance-main-nav">
        <!--
                <pre>{{vm.activeTab}}</pre>
        -->
        <ul class="nav nav-tabs" role="tablist" id="tablist">
            <li ng-class="{active:vm.activeTab == 1||vm.activeTab == 0}" ng-click="vm.setActiveTab(1)"><a ui-sref="cluster.basicInfo" role="tab">基本信息</a></li>
            <li ng-class="{active:vm.activeTab == 2}" ng-click="vm.setActiveTab(2)"><a ui-sref="cluster.user" role="tab">用户管理</a></li>
            <li ng-class="{active:vm.activeTab == 3}" ng-click="vm.setActiveTab(3)"><a ui-sref="cluster.db" role="tab">数据库管理</a></li>
            <li ng-class="{active:vm.activeTab == 4}" ng-click="vm.setActiveTab(4)"><a ui-sref="cluster.configs" role="tab">参数组设置</a></li>
            <li ng-class="{active:vm.activeTab == 5}" ng-click="vm.setActiveTab(5)"><a ui-sref="cluster.backup" role="tab">备份管理</a></li>
            <li ng-class="{active:vm.activeTab == 6}" ng-click="vm.setActiveTab(6)"><a ui-sref="cluster.monitor" role="tab">监控</a></li>

        </ul>
        <div class="" style="height:20px;"></div>
    </div>

    <!--<div class="instance-main-nav">
        <pre>{{vm.activeTab}}</pre>
        <ul class="nav nav-tabs" role="tablist">
            <li><a ui-sref-active="active" ui-sref="instance.basicInfo" role="tab" data-toggle="tab">基本信息</a>
            <li><a ui-sref-active="active" ui-sref="instance.user" role="tab" data-toggle="tab">用户管理</a>
            <li><a ui-sref-active="active" ui-sref="instance.db" role="tab" data-toggle="tab">数据库管理</a></li>
            <li><a ui-sref-active="active" ui-sref="instance.backup" role="tab" data-toggle="tab">备份管理</a></li>
            <li><a ui-sref-active="active" ui-sref="instance.config" role="tab" data-toggle="tab">参数设置</a></li>
        </ul>
        <div class="" style="height:30px;"></div>
    </div>-->
    <!-- <div class="wapper" ng-show="vm.activeTab == -1">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">基本信息</div>
                <div class="table-responsive">
                    <table class="table" id="instance-table-0">
                        <tbody>
                            <tr>
                                <td style="width:40%;">名称</td>
                                <td id="ds_name">{{vm.instanceInfo.instance.name}}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td id="ds_id">{{vm.instanceInfo.instance.id}}

                                </td>
                            </tr>
                            <tr>
                                <td>数据存储</td>
                                <td id="ds_storage">
                                    {{vm.instanceInfo.instance.datastore.type}} {{vm.instanceInfo.instance.datastore.version}}
                                </td>
                            </tr>
                               <tr>
                                <td>存储版本</td>
                                <td id="ds_version">5.6</td>
                            </tr>
    <tr>
        <td>绑定参数组</td>
        <td id="ds_config">???</td>
    </tr>
    <tr>
        <td>主备详情</td>
        <td id="replica_td">???</td>
    </tr>
    <tr>
        <td>子网名称</td>
        <td id="ds_network">{{vm.instanceInfo.instance.networks.name}}</td>
    </tr>
    <tr>
        <td>状态</td>
        <td id="ds_status">{{vm.instanceInfo.instance.status}}</td>
    </tr>
    </tbody>
    </table>
</div>
</div>
</div>
<div class="col-md-3">
    <div class="panel panel-default" style="margin-bottom: 45px;">
        <div class="panel-heading">只读实例</div>
        <div class="panel-body">
            <p class="text-danger">&nbsp;0个</p>
            <a href="" class="" style="padding:5px;">添加只读实例</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">备份实例</div>
        <div class="panel-body">
            <p class="text-danger">&nbsp;0个</p>
            <a href="" class="" style="padding:5px;">创建备份</a>
        </div>
    </div>
</div>
<div class="col-md-11">
    <div class="panel panel-default">
        <div class="panel-heading">规格</div>
        <div class="table-responsive">
            <table class="table" id="instance-table-1">
                <tbody>
                    <tr>
                        <td style="width:40%">云主机类型(flavorid)</td>
                        <td id="ds_cloud_type">{{vm.instanceInfo.instance.flavor.id}}</td>
                    </tr>
                    <tr>
                        <td>内存</td>
                        <td id="ds_cloud_memory">???</td>
                    </tr>
                    <tr>
                        <td>云硬盘大小</td>
                        <td id="ds_cloud_disk">???</td>
                    </tr>
                    <tr>
                        <td>已创建</td>
                        <td id="ds_cloud_create">{{vm.instanceInfo.instance.created}}</td>
                    </tr>
                    <tr>
                        <td>已更新</td>
                        <td id="ds_cloud_update">{{vm.instanceInfo.instance.updated}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-11">
    <div class="panel panel-default">
        <div class="panel-heading">连接信息</div>
        <div class="table-responsive">
            <table class="table" id="instance-table-2">
                <tbody>
                    <tr>
                        <td style="width:40%;">主机</td>
                        <td id="ds_main">{{vm.instanceInfo.instance.ip}}</td>
                    </tr>
                    <tr>
                        <td>数据库端口</td>
                        <td id="ds_port">3306</td>
                    </tr>
                    <tr>
                        <td>连接举例</td>
                        <td id="ds_instance">mysql -h 192.168.40.86 -u 用户名 -p<br>用户名 -p mysql://用户名:密码@192.168.40.86:3306/数据库
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>-->
    <div ui-view="">

    </div>
</div>
<!--删除实例模态框-->
<div class="modal fade" id="deleteInstanceModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteInstanceLabel">终止实例</h4>
            </div>
            <div class="modal-body">
                确定终止实例吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.submit()">提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>

</div>
<!--重启实例模态框-->
<script type="text/ng-template" id="restartInstanceModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
        <h3 class="modal-title" id="restartInstanceModal-title">重启实例</h3>
    </div>
    <div class="modal-body" id="restartInstanceModal-body">
        <div class="alert alert" style="margin: 20px;padding: 40px;">
            确定重启实例吗？
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="vm.restartInstanceOK()">确定
        </button>
    </div>
</script>
<!--备份实例模态框-->
<div class="modal fade" id="backupInstanceModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="backupInstanceLabel">备份实例</h4>
            </div>
            <div class="modal-body">
                确定备份实例吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="vm.submit()">提交
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>

    </div>

</div>